<!DOCTYPE html>
<html>
<head>
	<% include templates/head.ejs %>
	<link rel="stylesheet" type="text/css" href='/css/home.css'>
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
  <!--Dcounts-->
  <link rel="stylesheet" type="text/css" href='/css/dcounts.css'>
</head>
<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="loader-track">
			<div class="preloader-wrapper">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">
			<nav class="navbar header-navbar pcoded-header"> 
				<div class="navbar-wrapper">
					<div class="navbar-logo">
						<a href="#!" class="mobile-menu waves-effect waves-light" id="mobile-collapse">
							<i class="ti-menu"></i>
						</a>

						<a href="#!">
							<img class="img-fluid" src="images/logo.png" alt="Logo">
						</a>
						<a class="mobile-options waves-effect waves-light">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<ul class="nav-left">
							<li>
								<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
							</li>
							<li>
								<a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
									<i class="ti-fullscreen"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- Main Container -->
			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#" ><i class="icon-close icon"></i></a>
						</div>
						<div class="pcoded-inner-navbar main-menu">
							<div class="">
								<div class="user-head">
									<a class="inbox-avatar" href="#!">
										<img  width="64" hieght="60" src="/images/ava_profile.jpg">
									</a>
									<div class="user-name">
										<h5 id="more-details"><%= user.first_name %> <%= user.last_name %><i class="fa fa-chevron-down" id="dropmore"></i></h5>
										<span><a href="https://mail.google.com/" target="_blank"><%= user.email %></a></span>
									</div>


								</div>
								<div class="main-menu-content">
									<ul>
										<li class="more-details">
											<!--user-profile.html-->
											<a href=""><i class="ti-user"></i>View Profile</a>
											<a href="/personalinfo?"><i class="ti-settings"></i>Settings</a>
											<!--auth-normal-sign-in.html-->
											<a href="logout"><i class="ti-layout-sidebar-left"></i>Logout</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="inbox-body">
								<button class="btn btn-compose tls" id="toggle" onclick="openForm()">Tulis Pesan</button>
								<% include ./partials/formmessage.ejs %>
							</div>
							<%- include ./partials/errMessage.ejs %>
							<ul class="inbox-nav inbox-divider">
								<li class="active">
									<a href="/pesanMasuk"><i class="fa fa-inbox"></i> Pesan Masuk <span class="label label-danger pull-right"><%= data.isRead%></span></a>
								</li>
								<li>
									<a href="/pesanTerkirim"><i class="fa fa-envelope-o"></i> Pesan Terkirim</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-bookmark-o"></i> Penting</a>
								</li>
								<li>
									<a href="#"><i class=" fa fa-external-link"></i> Draft <span class="label label-info pull-right">30</span></a>
								</li>
								<li>
									<a href="#"><i class=" fa fa-trash-o"></i> Sampah</a>
								</li>
							</ul>
						</div>
					</nav>
					<div class="pcoded-content">
						<!--Page Header start-->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">Pesan Masuk</h5>
											<p class="m-b-0">Selamat Datang</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="/"><i class="fa fa-home"></i></a> <!--index.htlm-->
											</li>
											<li class="breadcrumb-item">Pesan Masuk</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!--Page Header end-->
						<div class="pcoded-inner-content">
							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-body">
										<div class="row">
											<div class="col-sm-12">
												<div class="inbox-body">
													<div class="mail-option">
														<div class="chk-all">
															<input type="checkbox" class="mail-checkbox mail-group-checkbox">
															<div class="btn-group">
																<a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
																	All
																	<i class="fa fa-angle-down "></i>
																</a>
																<ul class="dropdown-menu">
																	<li><a href="#"> None</a></li>
																	<li><a href="#"> Read</a></li>
																	<li><a href="#"> Unread</a></li>
																</ul>
															</div>
														</div>
														<div class="btn-group">
															<a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
																<i class=" fa fa-refresh"></i>
															</a>
														</div>
														<div class="btn-group hidden-phone">
															<a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
																More
																<i class="fa fa-angle-down "></i>
															</a>
															<ul class="dropdown-menu">
																<li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
																<li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
															</ul>
														</div>
														<div class="btn-group">
															<a data-toggle="dropdown" href="#" class="btn mini blue">
																Move to
																<i class="fa fa-angle-down "></i>
															</a>
															<ul class="dropdown-menu">
																<li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
																<li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
															</ul>
														</div>
														<ul class="unstyled inbox-pagination">
															<li><span>1-50 of 234</span></li>
															<li>
																<a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
															</li>
															<li>
																<a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
															</li>
														</ul>
													</div>
													<table class="table table-inbox table-sm icon-hover" role="grid">
														<tbody>
                              								<% if(data.length) { %>

															<% data.forEach(function(msgs){ %>
																<tr class="gl unread" id="chat-list" name= "ids" data-link="bacaPesan/<%=msgs.id%>" data-target="_SELF" data-status="unread">
																	<td class="inbox-small-cells ic">
																		<input type="checkbox" class="mail-checkbox">
																	</td>
																	<td class="w-auto ic"><i class="fa fa-star"></i></td>
																	<td class="view-message nm"><%=msgs.first_name%> <%=msgs.last_name%></td>
																	<td class="view-message sub">
																		<%=msgs.subjek_message%>
																	</td>
																	<td class="d-flex sub">
																	<span style="float: left;">&nbsp; - &nbsp;</span>
																	<span class="kep w-auto"><%-msgs.text_message%></span>
																	<a href="/deletePesan/<%=msgs.id%>" class="icon fa fa-trash" tabindex="0" data-toggle="tooltip" title="Delete"></a>
																	</td>
																	<td class="text-right crData view-message"><%=new Date(msgs.createdAt).toLocaleString()%> 
																	<td><%=msgs.isRead%></td>
																	</td>
																</tr>
																<% }); %>
															<% }else { %>
																<tr>
																	<td>No Message</td>
																</tr>
															<% } %>
														</tbody>
													</table>
													<!-- End Table Mail-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<% include templates/footer.ejs %>
	
	<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
	<script type="text/javascript" src="/js/modalBody.js "></script>
	<script type="text/javascript" src="/js/rdmsgJquery.js "></script>
	<script type="text/javascript" src="/js/formfunc.js "></script>
	<!-- <script type="text/javascript" src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script> -->
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
	
		$(document).ready(function () {	

			$(document).on("click", '#chat-list', function (e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).toggleClass('read');
			if ($(this).hasClass('read'))
				$(this).attr('data-status', 'read')
			else
				$(this).attr('data-status', 'unread')
			});
		});
	</script>
</body>
</html>